<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/public/es/head :: head('La casa - Casa Rural')}"></head>

<body>

<header th:replace="~{fragments/public/es/header :: header}"></header>

<main>
    <h2>Sobre la casa</h2>
    <p>Aquí se mostrará la información general del alojamiento.</p>

    <h2>Galería de imágenes</h2>

    <div>
        <div th:each="imagen : ${imagenes}">
            <img th:src="${imagen.url}" alt="Imagen">
            <p th:text="${imagen.descripcionEs}"></p>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/public/es/footer :: footer}"></footer>

</body>
</html>